spring:
  application:
    name: apigateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: inventory-service
              # Eureka ???? Service ?? ????????
              uri: lb://inventory-service # mehema danna puluwan eureka server eke register karana ewa witharai . ehema register karala nethnm http://localhost:8082 wage dirrect denna puluwan.
              predicates:
                # ???? 'Path' ??????? ????? ??. '=' ????? ????? '?' ????? ????.
                # ????? Controller ??? Path ??? ?????? ?????? ??? ????? ???.
                - Path=/api/v1/inventory/**

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/v1/order/**

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/