spring:
  application:
    name: apigateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: inventory-service
              uri: lb://inventoryservice
              predicates:
                - Path=/inventory-service/**

            - id: order-service
              uri: lb://orderservice # app name or host (http:8082)
              predicates:
                - Path=/order-service/**



server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/